#Redis
REDIS_URL=redis://localhost:6379

DATABASE_URL=

#Quickbooks
QUICKBOOKS_CLIENT_ID=
QUICKBOOKS_CLIENT_SECRET=
QUICKBOOKS_REDIRECT_URI=http://localhost:3000/api/quickbooks/callback
QUICKBOOKS_BASE_URL=https://sandbox-quickbooks.api.intuit.com

#Encryption
TOKEN_ENCRYPTION_KEY=