#Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZW5nYWdpbmctbGFjZXdpbmctODYuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/dashboard

#Database
DATABASE_URL=

#Vercel
NEXT_PUBLIC_BASE_URL=http://localhost:3000

#Redis
REDIS_URL=redis://localhost:6379

#Quickbooks
QUICKBOOKS_CLIENT_ID=
QUICKBOOKS_CLIENT_SECRET=
QUICKBOOKS_REDIRECT_URI=http://localhost:3000/api/quickbooks/callback
QUICKBOOKS_BASE_URL=https://sandbox-quickbooks.api.intuit.com

#Encryption
TOKEN_ENCRYPTION_KEY=
